.git
.github
.env
.env.*
node_modules
vendor
tests
storage/*.key
storage/pail
public/hot
public/storage
*.log
.phpunit.result.cache
.editorconfig
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.fleet
.idea
.nova
.vscode
.zed
