@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --font-mono:
        'JetBrains Mono', ui-monospace, 'SFMono-Regular', 'Menlo', 'Monaco',
        'Consolas', 'Liberation Mono', 'Courier New', monospace;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(0.964 0.01 93.6);
    --foreground: oklch(0.272 0.02 133);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.272 0.02 133);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.272 0.02 133);
    --primary: oklch(0.487 0.07 152.5);
    --primary-foreground: oklch(0.99 0.005 90);
    --secondary: oklch(0.988 0.004 91);
    --secondary-foreground: oklch(0.272 0.02 133);
    --muted: oklch(0.988 0.004 91);
    --muted-foreground: oklch(0.552 0.023 129);
    --accent: oklch(0.633 0.1 82.4);
    --accent-foreground: oklch(0.152 0.009 285);
    --destructive: oklch(0.626 0.193 23);
    --destructive-foreground: oklch(0.99 0.005 90);
    --border: oklch(0.826 0.014 111);
    --input: oklch(0.826 0.014 111);
    --ring: oklch(0.487 0.07 152.5);
    --chart-1: oklch(0.487 0.07 152.5);
    --chart-2: oklch(0.696 0.149 162.5);
    --chart-3: oklch(0.495 0.049 192);
    --chart-4: oklch(0.633 0.1 82.4);
    --chart-5: oklch(0.559 0.225 25);
    --radius: 0.625rem;
    --sidebar: oklch(0.982 0.004 91);
    --sidebar-foreground: oklch(0.272 0.02 133);
    --sidebar-primary: oklch(0.487 0.07 152.5);
    --sidebar-primary-foreground: oklch(0.99 0.005 90);
    --sidebar-accent: oklch(0.988 0.004 91);
    --sidebar-accent-foreground: oklch(0.272 0.02 133);
    --sidebar-border: oklch(0.826 0.014 111);
    --sidebar-ring: oklch(0.487 0.07 152.5);
}

.dark {
    --background: oklch(0.191 0.006 92);
    --foreground: oklch(0.966 0.002 146);
    --card: oklch(0.252 0.005 92);
    --card-foreground: oklch(0.966 0.002 146);
    --popover: oklch(0.252 0.005 92);
    --popover-foreground: oklch(0.966 0.002 146);
    --primary: oklch(0.68 0.11 162);
    --primary-foreground: oklch(0.152 0.009 162);
    --secondary: oklch(0.23 0.002 106);
    --secondary-foreground: oklch(0.966 0.002 146);
    --muted: oklch(0.23 0.002 106);
    --muted-foreground: oklch(0.71 0.004 122);
    --accent: oklch(0.72 0.105 78);
    --accent-foreground: oklch(0.272 0.02 133);
    --destructive: oklch(0.65 0.2 23);
    --destructive-foreground: oklch(0.99 0.005 90);
    --border: oklch(0.355 0.005 107);
    --input: oklch(0.355 0.005 107);
    --ring: oklch(0.68 0.11 162);
    --chart-1: oklch(0.65 0.09 160);
    --chart-2: oklch(0.75 0.13 163);
    --chart-3: oklch(0.7 0.07 192);
    --chart-4: oklch(0.72 0.11 82);
    --chart-5: oklch(0.65 0.2 28);
    --sidebar: oklch(0.223 0.002 68);
    --sidebar-foreground: oklch(0.966 0.002 146);
    --sidebar-primary: oklch(0.68 0.11 162);
    --sidebar-primary-foreground: oklch(0.152 0.009 162);
    --sidebar-accent: oklch(0.23 0.002 106);
    --sidebar-accent-foreground: oklch(0.966 0.002 146);
    --sidebar-border: oklch(0.355 0.005 107);
    --sidebar-ring: oklch(0.68 0.11 162);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
